<launch>
    <!-- Load in armer_teleop param (configurable ) -->
    <arg name="frame_id_EE"         default="tool0"     doc="This is the frame id given to the particular EE frame of a given robot" />
    <arg name="frame_id_base"       default="base_link" doc="This is the base frame of the robot - specify if different to base_link" />
    <arg name="trig_val"            default="true"      doc="If this parameter is not set (i.e., false), the triggers report a value of 0.0 until they are touched" />
    <arg name="controller_config"   default="logitech"    doc="The controller being used -> [logitech, ps4]"/>
    
    <!-- Load the logitech yaml file if configured (default) -->
    <group if="$(eval arg('controller_config') == 'logitech')">
        <rosparam file="$(find armer_teleop)/config/logitech.yaml"/>
    </group>

    <!-- Load the logitech yaml file if configured (default) -->
    <group if="$(eval arg('controller_config') == 'custom')">
        <rosparam file="$(find armer_teleop)/config/custom.yaml"/>
    </group>

    <!-- Load the ps4 yaml file if configured -->
    <group if="$(eval arg('controller_config') == 'ps4')">
        <rosparam file="$(find armer_teleop)/config/ps4.yaml"/>
    </group>

    <node respawn="true" pkg="joy" type="joy_node" name="armer_joy_node" >
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
        <param name="autorepeat_rate" value="100"/>
        <param name="default_trig_val" value="$(arg trig_val)"/> 
    </node>

    <!-- Default set frame ID as the end effector (EE) frame of choice -->
    <node pkg="armer_teleop" type="armer_teleop_node" name="armer_teleop_node" output="screen">
        <param name="frame_id" value="$(arg frame_id_EE)" />
        <param name="base_frame" value="$(arg frame_id_base)" />
    </node>
</launch>
